<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProfile name="dev,test">
        <logger name="space.kokyo.services.geonames" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
    </springProfile>
    <springProfile name="prod">
        <logger name="space.kokyo.services.geonames" level="WARN" additivity="false">
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>
</configuration>